<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/SixModLoader/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <!-- https://github.community/t/download-from-github-package-registry-without-authentication/14407/38 -->
        <github>
            <add key="Username" value="PublicToken" />
            <add key="ClearTextPassword"
                 value="&#100;&#56;&#53;&#54;&#57;&#55;&#50;&#53;&#102;&#98;&#56;&#100;&#57;&#101;&#99;&#49;&#55;&#56;&#55;&#55;&#100;&#55;&#57;&#52;&#101;&#57;&#98;&#102;&#99;&#53;&#55;&#51;&#102;&#98;&#100;&#101;&#98;&#50;&#98;&#55;" />
        </github>
    </packageSourceCredentials>
</configuration>