name: CI

on:
  push:
  pull_request:
  release:
    types:
      - published

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest
    timeout-minutes: 10
    if: "!contains(github.event.head_commit.message, '[skip ci]') && (!startsWith(github.ref, 'refs/tags/') || github.event_name == 'release')"

    env:
      SCPSL_SERVER: ${{ github.workspace }}/scpsl

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Download DepotDownloader
        uses: carlosperate/download-file-action@v1.0.3
        with:
          file-url: https://github.com/SteamRE/DepotDownloader/releases/download/DepotDownloader_2.3.6/depotdownloader-2.3.6.zip

      - name: Extract DepotDownloader
        uses: DuckSoft/extract-7z-action@v1.0
        with:
          pathSource: depotdownloader-2.3.6.zip
          pathTarget: scripts

      - name: Run SCP:SL download script
        run:  cd .\scripts\; .\depotdownloader.bat -app 996560 -depot 996562 -filelist dependencies.txt -dir $Env:SCPSL_SERVER

      - name: Download AssemblyPublicizer
        uses: carlosperate/download-file-action@v1.0.3
        with:
          file-url: https://github.com/CabbageCrow/AssemblyPublicizer/releases/download/v1.1.0/AssemblyPublicizer.zip
          location: ${{ env.SCPSL_SERVER }}\SCPSL_Data\Managed

      - name: Extract AssemblyPublicizer
        uses: DuckSoft/extract-7z-action@v1.0
        with:
          pathSource: ${{ env.SCPSL_SERVER }}\SCPSL_Data\Managed\AssemblyPublicizer.zip
          pathTarget: ${{ env.SCPSL_SERVER }}\SCPSL_Data\Managed

      - name: Publicize
        run: |
          cd ${{ env.SCPSL_SERVER }}\SCPSL_Data\Managed
          AssemblyPublicizer\AssemblyPublicizer.exe Assembly-CSharp.dll
          AssemblyPublicizer\AssemblyPublicizer.exe Mirror.dll

      - name: Restore NuGet
        run: dotnet restore

      - name: Run build script
        run:  cd .\scripts\; .\build.bat

      - name: Download docfx
        uses: carlosperate/download-file-action@v1.0.3
        with:
          file-url: https://github.com/dotnet/docfx/releases/download/v2.56/docfx.zip

      - name: Extract docfx
        uses: DuckSoft/extract-7z-action@v1.0
        with:
          pathSource: docfx.zip
          pathTarget: docs

      - name: Build Documentation
        run: cd .\docs\; .\build.bat

      - name: Publish Documentation on GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.event_name != 'pull_request' }}
        with:
          personal_token: ${{ secrets.GH_PAT }}
          publish_dir: ./docs/_site
          external_repository: SixModLoader/sixmodloader.github.io
          publish_branch: master

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v2
        with:
          path: out/

      - name: Push NuGet package
        if: ${{ github.event_name == 'release' }}
        run: |
          cd out
          dotnet pack ../SixModLoader -c Release -o .
          dotnet pack ../SixModLoader.Api -c Release -o .
          dotnet nuget update source github --source https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json -u ${{ github.repository_owner }} -p ${{ github.token }}
          dotnet nuget push *.nupkg -s github

      - if: ${{ github.event_name == 'release' }}
        run: 7z a SixModLoader.zip ./out/*

      - name: Upload Release Asset
        if: ${{ github.event_name == 'release' }}
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./SixModLoader.zip
          asset_name: SixModLoader.zip
          asset_content_type: application/zip    
