name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on: [push, pull_request]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest
    env:
      SCPSL_SERVER: /scpsl

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: setup-msbuild
      uses: microsoft/setup-msbuild@v1
      
    - name: Download steamcmd
      uses: carlosperate/download-file-action@v1.0.3
      with:
        # URL of the file to download
        file-url: https://steamcdn-a.akamaihd.net/client/installer/steamcmd.zip
    
    - name: extract-7z-action
      uses: DuckSoft/extract-7z-action@v1.0
      with:
        pathSource: steamcmd.zip
        pathTarget: scripts
        
    - name: Change directory to scripts
      run: cd scripts
      
    - name: Run SCP:SL download script
      run: ./scpsl.bat

    - name: Run build script
      run: ./build.bat

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2
      with:
        path: out/
